h1 {
  text-align: center;
}

.editor {
  margin-bottom: 4em;
  padding: 1em;
}

.warning {
  font-style: italic;
}

.hidden {
  display: none;
}

button {
  background-color: rgba(234, 233, 233, 0.943);
  border: none;
  border-radius: 1em;
  color: black;
}

h2 {
  margin-bottom: 0;
}

.a-snippet {
  padding-bottom: 3em;
}

.snippet-header {
  text-align: right;
  margin-bottom: 1.5em;
}

.down {
  margin-top: 0.25em;
}

.center {
  text-align: center;
}

.nicely-centered {
  display: grid;
  justify-items: center;
}

.middly {
  /* constrain the tags list to the center 30% */
}

/* github corner styles: https://tholman.com/github-corners/ */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
